@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
  font-weight: bold;
  /* text-decoration: underline; */
}
.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
  margin-left: 10px;
  font-weight: bold;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
}
.mycard{
  margin-top: 30px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(10, 25, 237) !important;
  box-shadow: 0 1px 0 0 #000;
}
